<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>

<body>
    <h1>Secret Page!</h1>
    <img src="https://media.makeameme.org/created/its-a-secret-yzbya8.jpg" alt="">
    <div>
        <a href="/topsecret">CLICK ME!!</a>
    </div>
    <form action="/logout" method="POST">
        <button>Sign Out</button>
    </form>
</body>

</html>