<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP SECRET</title>
</head>

<body>
    <h1>THIS IS CLASSIFIED!!!</h1>
    <div>
        <a href="./classified"><img
                src="https://canestrinilex.com/assets/Uploads/blog-pics/f613404b87/Topsecretsidebar__ScaleWidthWzE0MDBd.jpg"
                alt=""></a>
    </div>
    <form action="/logout" method="POST">
        <button>Sign Out</button>
    </form>
</body>

</html>